@import "./../style/colors.scss";

.slider {
  owl-carousel-o {
    ::ng-deep .owl-nav {
      display: none !important;
    }
    @media (max-width: 600px) {
      ::ng-deep .owl-item {
        width: 250px !important;
      }
    }
  }
  .card {
    margin: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    .date {
      background-color: #f5f5f5;
      padding: 0.3rem 0.5rem;
      width: auto;
      text-align: center;
      display: inline-block;
      margin: 1.5rem 0;
      border-radius: 21px;
    }

    h4 {
      // font-size: 18px !important;
      font-weight: bold;
      min-height: 30px;
      direction: rtl;
      @media (max-width: 768px) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .details {
      @media (max-width: 600px) {
        height: 100px;
      }
    }

    img {
      padding-bottom: 1px;
      border-bottom: 4px solid;
      border-image: linear-gradient(86deg, #21cad4, #96db68);
      border-image-slice: 1;
    }

    a {
      color: $seemoreColor;
    }
    .graientIcon {
      background: -moz-linear-gradient(top, #21cad4, #96db68);
      background: -webkit-linear-gradient(top, #21cad4, #96db68);
      background: linear-gradient(to bottom, #21cad4, #96db68);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media (min-width: 768px) {
      .card-text {
        min-height: 120px;
      }
    }
  }
  position: relative;
  .prev {
    display: none;
    position: absolute;
    top: 20%;
    left: -15px;
    width: 35px;
    z-index: 1;
    cursor: pointer;
    @media (min-width: 769px) {
      display: block;
      width: 50px;
    }
  }

  .next {
    display: none;
    position: absolute;
    top: 20%;
    right: -15px;
    width: 35px;
    z-index: 1;
    transform: scaleX(-1);
    cursor: pointer;
    @media (min-width: 769px) {
      display: block;
      width: 50px;
    }
  }

  .hospital-card {
    margin: 3px;
    border: none;
    border-right: 4px solid;
    border-image: linear-gradient(to bottom, #21cad4, #96db68);
    border-image-slice: 1;
    .date {
      font-size: 1.2rem;
      width: auto;
      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
    h4 {
      // font-size: 16px !important;
      height: 50px;
      direction: rtl;
      @media (max-width: 768px) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .details {
      .tel,
      .loc {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
          font-size: 10px;
          padding: 0 5px;
          margin: 0;
        }
        i {
          color: #21cad4;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .mob-overlay {
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      right: 90%;
      left: 0;
      background: transparent
        linear-gradient(270deg, #00000000 0%, #00000081 100%) 0% 0% no-repeat
        padding-box;
      opacity: 1;
    }
  }
}
