<div class="slider">
  <owl-carousel-o
    [options]="hospitals ? customOptionsHospitals : customOptions"
    #owlCar
  >
    <ng-container *ngFor="let news of newsArr">
      <ng-template *ngIf="newsArr" carouselSlide [width]="250">
        <div class="card">
          <a href="">
            <img class="card-img-top" src="{{ news.img }}" alt="" />
          </a>

          <div class="card-body">
            <span class="date ml-auto">{{ news.date }}</span>
            <h4 class="">{{ news.title }}</h4>
            <p class="card-text details">
              {{ news.details }}
            </p>

            <a class="py-1" href="">
              <i class="fas graientIcon px-3 fa-arrow-circle-left"></i>المزيد</a
            >
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngFor="let hospital of hospitals">
      <ng-template *ngIf="hospitals" carouselSlide [width]="250">
        <div class="card">
          <div class="hospital-card">
            <div class="card-body p-2">
              <span class="date ml-auto">{{ hospital.hospital }}</span>
              <h4 class="">{{ hospital.title }}</h4>
              <div class="details">
                <a class="tel pb-2" href="tel:{{ hospital.tel }}">
                  <p>{{ hospital.tel }}</p>
                  <i class="fas fa-phone-square"></i>
                </a>
                <a class="loc pb-2" href="">
                  <p>{{ hospital.loc }}</p>
                  <i class="fas fa-map-marker-alt"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <img
    src="../../../assets/icons/Group 18.png"
    (click)="owlCar.prev()"
    class="prev"
    alt=""
  />

  <img
    class="next"
    (click)="owlCar.next()"
    src="../../../assets/icons/Group 18.png"
    alt=""
  />

  <div class="mob-overlay"></div>
</div>
