@import "../../shared/style/colors.scss";

nav {
  width: 100%;
  margin: 0 auto;
  direction: rtl;
  z-index: 9999;
  position: static;
  background-color: #ffffff;
  padding: 8px 0;
  .navbar-brand {
    width: 100px;
    img {
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    width: 90%;
    position: absolute;
    margin: 20px 5%;
    padding: 8px 16px;
    a {
      color: $mainColor !important;
    }
    .dropdown {
      &::after {
        content: "";
        height: 4px;
        width: 30px;
        top: 41px;
        visibility: hidden;
        position: absolute;
        right: 12px;
        position: absolute;
        border-radius: 2px;
        background-image: $borderColor;
        transition: width 1s ease-in-out 0.2s;
      }
      .dropdown-menu {
        padding-left: 5px;
        padding-right: 5px;
        top: 93%;
        a {
          padding: 5px;
          border-bottom: #d5d5d5 solid 1px;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      &:hover {
        &::after {
          visibility: visible;
          width: 56px;
        }
        .dropdown-menu {
          display: block;
        }
      }
    }
    .center {
      &:hover {
        &::after {
          width: 70px;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .dropdown {
      &::after {
        content: "";
        top: 55px;
      }
      &:hover {
        &::after {
          width: 70px;
        }
      }
    }
    .center {
      &:hover {
        &::after {
          width: 100px;
        }
      }
    }
  }

  .navbar-collapse {
    @media screen and (max-width: 600px) {
      position: absolute;
      min-height: 100vh;
      max-height: 100vh;
      z-index: 99999;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #1a325e !important;
      li {
        p {
          color: #ffffff;
          font-size: 14px;
        }
      }
      .dropdown-menu {
        background-color: #1a325e !important;
        border: none;
        padding: 0;
        a {
          color: #ffffff !important;
          padding: 20px;
          border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .hide {
        display: none;
      }
      .show {
        display: block;
      }
      .nav-item {
        border-bottom: rgba(255, 255, 255, 0.2) solid 1px;

        .nav-link {
          color: #ffffff !important;
          padding: 30px;
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
  }

  .mobileNav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .bottom-nav {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between;
      li {
        padding: 10px;
      }
    }
  }
  .mob-logo {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .web-logo {
    display: none;
    @media (min-width: 768px) {
      display: block !important;
    }
  }

  .social-wrapper {
    .social {
      direction: ltr;
      text-align: right;
      a {
        padding: 0 7px;
        i {
          width: 35px;
          height: 35px;

          @include iconGradient;
          text-align: center;
          font-size: 20px;
          padding: 6px;
          border: 1px solid #f8f8f8;
          border-radius: 50%;

          @media (min-width: 600px) {
            border-color: #1a325e;
          }
        }
      }
    }
  }
  .lang {
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 4px 6px;

    button {
      border: none;
      border-radius: 24px;
      padding: 5px 8px;
      background-color: transparent;

      @media (min-width: 600px) {
        color: #ffffff;
      }
    }
    @media (min-width: 600px) {
      background-color: #1a325e;
    }
  }
}

.active-btn {
  background: -moz-linear-gradient(top, #21cad4, #96db68);
  background: -webkit-linear-gradient(top, #21cad4, #96db68);
  background-image: linear-gradient(to bottom, #21cad4, #96db68);
  color: #000 !important;
}

.fixed-nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin: 0;
  @media (max-width: 700px) {
    display: none;
  }
}
