<carousel>
  <slide>
    <div class="hero-wrapper d-flex align-items-center">
      <div class="pic">
        <img class="img-fluid" src="../../../../assets/banner.png" alt="" />
      </div>

      <div class="hero-caption">
        <div class="caption p-2 p-md-4 p-lg-3">
          <p>
            “إيماناً منا بحق كل مواطن في الرعاية الصحية المتكاملة، وفقاً لأعلى
            معايير الجودة، وتحقيقاً لحلم طال انتظاره، ومن أجل مستقبل يستحقه
            أبناء هذا الوطن العظيم، وانطلاقاً من مدينة بورسعيد الباسلة، أعلن
            إطلاق منظومة التأمين الصحي الشامل بجمهورية مصر العربية"
          </p>
          <div class="text-right text-md-left py-3">
            <span>الرئيس عبد الفتاح السيسي</span>
          </div>
          <div class="text-right text-md-left">
            <button title="seemore" class="spec-btn">
              <img
                class="mx-2"
                src="../../../../assets/icons/Icon awesome-arrow-circle-left.png"
                alt=""
              />
              إكتشف المزيد
            </button>
          </div>
        </div>
      </div>

      <div class="overlay"></div>
    </div>
  </slide>
  <slide>
    <div class="hero-wrapper d-flex align-items-center">
      <div class="pic">
        <img class="img-fluid" src="../../../../assets/banner.png" alt="" />
      </div>

      <div class="hero-caption">
        <div class="caption p-2 p-md-4 p-lg-3">
          <p>
            “إيماناً منا بحق كل مواطن في الرعاية الصحية المتكاملة، وفقاً لأعلى
            معايير الجودة، وتحقيقاً لحلم طال انتظاره، ومن أجل مستقبل يستحقه
            أبناء هذا الوطن العظيم، وانطلاقاً من مدينة بورسعيد الباسلة، أعلن
            إطلاق منظومة التأمين الصحي الشامل بجمهورية مصر العربية"
          </p>
          <div class="text-right text-md-left py-3">
            <span>الرئيس عبد الفتاح السيسي</span>
          </div>
          <div class="text-right text-md-left">
            <button title="seemore" class="spec-btn">
              <img
                class="mx-2"
                src="../../../../assets/icons/Icon awesome-arrow-circle-left.png"
                alt=""
              />
              إكتشف المزيد
            </button>
          </div>
        </div>
      </div>

      <div class="overlay"></div>
    </div>
  </slide>
  <slide>
    <div class="hero-wrapper d-flex align-items-center">
      <div class="pic">
        <img class="img-fluid" src="../../../../assets/banner.png" alt="" />
      </div>
      <div class="hero-caption">
        <div class="caption p-2 p-md-4 p-lg-3">
          <p>
            “إيماناً منا بحق كل مواطن في الرعاية الصحية المتكاملة، وفقاً لأعلى
            معايير الجودة، وتحقيقاً لحلم طال انتظاره، ومن أجل مستقبل يستحقه
            أبناء هذا الوطن العظيم، وانطلاقاً من مدينة بورسعيد الباسلة، أعلن
            إطلاق منظومة التأمين الصحي الشامل بجمهورية مصر العربية"
          </p>
          <div class="text-right text-md-left py-3">
            <span>الرئيس عبد الفتاح السيسي</span>
          </div>
          <div class="text-right text-md-left">
            <button title="seemore" class="spec-btn">
              <img
                class="mx-2"
                src="../../../../assets/icons/Icon awesome-arrow-circle-left.png"
                alt=""
              />
              إكتشف المزيد
            </button>
          </div>
        </div>
      </div>

      <div class="overlay"></div>
    </div>
  </slide>
  <slide>
    <div class="hero-wrapper d-flex align-items-center">
      <div class="pic">
        <img class="img-fluid" src="../../../../assets/banner.png" alt="" />
      </div>

      <div class="hero-caption">
        <div class="caption p-2 p-md-4 p-lg-3">
          <p>
            “إيماناً منا بحق كل مواطن في الرعاية الصحية المتكاملة، وفقاً لأعلى
            معايير الجودة، وتحقيقاً لحلم طال انتظاره، ومن أجل مستقبل يستحقه
            أبناء هذا الوطن العظيم، وانطلاقاً من مدينة بورسعيد الباسلة، أعلن
            إطلاق منظومة التأمين الصحي الشامل بجمهورية مصر العربية"
          </p>
          <div class="text-right text-md-left py-3">
            <span>الرئيس عبد الفتاح السيسي</span>
          </div>
          <div class="text-right text-md-left">
            <button title="seemore" class="spec-btn">
              <img
                class="mx-2"
                src="../../../../assets/icons/Icon awesome-arrow-circle-left.png"
                alt=""
              />
              {{ "Home.seeMore" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </slide>
</carousel>
