@import "../style/colors.scss";
.slider {
  owl-carousel-o {
    ::ng-deep .owl-item {
      img {
        height: 100px;
        padding: 20px;
        object-fit: contain;
      }
    }
    ::ng-deep .owl-nav {
      display: none !important;
    }
    ::ng-deep .owl-theme .owl-dots .owl-dot {
      span {
        background: #869791 !important;
      }
    }
    ::ng-deep .owl-theme .owl-dots .owl-dot.active {
      span {
        background: #d6d6d6 !important;
      }
    }
    .statistics-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 11.4rem;
        height: 10.3rem;
      }
      span {
        color: $darkFont;
        margin: 0.6rem 0;
      }
      .statistics-count {
        font-size: 1.8rem;
      }
      .statistics-name {
        font-size: 1.2rem;
        opacity: 0.6;
      }
    }

    .meetings-wrapper {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin: 10px;
      background-color: $darkFont;

      @media (min-width: 768px) {
        flex-direction: row-reverse;
      }
      .meeting-img {
        width: 100%;
        @media (min-width: 768px) {
          width: 50%;
        }
        img {
          height: 100%;
          object-fit: fill;
          padding: 0;
        }
      }

      .meeting-details {
        width: 100%;
        padding: 10px;
        @media (min-width: 768px) {
          width: 50%;
        }

        span {
          border-radius: 21px;
          margin: 1.5rem 0;
          padding: 0.3rem 0.5rem;
        }
        h4 {
          // font-size: 16px !important;
          // min-height: 126px !important;
          direction: rtl;
          @media (max-width: 1024px) {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .details {
          .tel,
          .loc {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            p {
              padding: 0 5px;
              margin: 0;
            }
            i {
              color: #21cad4;
            }
          }
        }
        a {
          color: $seemoreColor;
          display: inline-block;
        }
        .graientIcon {
          font-size: 1.8rem;
          background: -moz-linear-gradient(top, #21cad4, #96db68);
          background: -webkit-linear-gradient(top, #21cad4, #96db68);
          background: linear-gradient(to bottom, #21cad4, #96db68);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
