$mainColor: #033463;
$borderColor: linear-gradient(86deg, #21cad4, #96db68);

@mixin iconGradient {
  background: -moz-linear-gradient(top, #21cad4, #96db68);
  background: -webkit-linear-gradient(top, #21cad4, #96db68);
  background: linear-gradient(to bottom, #21cad4, #96db68);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
