<div class="container pt-2">
  <div class="row">
    <div
      class="col-6 col-md-2 text-center text-md-right text-white d-flex flex-column"
    >
      <h3 class="text-white">عن الهيئة</h3>
      <a href="">أخبار</a>
      <a href="">الاحداث</a>
    </div>
    <div
      class="col-6 col-md-2 text-center text-md-right text-white d-flex flex-column"
    >
      <h3 class="text-white">المستشفيات</h3>
      <a href="">المناقصات</a>
      <a href="">المكتبة</a>
    </div>
    <div
      class="col-9 m-auto col-md-6 m-md-0 text-center text-md-right text-white d-flex flex-column"
    >
      <h3 class="text-white">اتصل بنا</h3>
      <a class="loc pb-2" href="">
        <i class="fas fa-map-marker-alt"></i>
        <p>مصطفى كامل ، مدينة بورفؤاد ،محافظة بور سعيد</p>
      </a>
      <a class="tel pb-2" href="tel:0109 529 5009">
        <i class="fas fa-phone-square"></i>
        <p>0109 529 5009</p>
      </a>
    </div>
    <div
      class="col-6 m-auto m-md-0 text-center text-md-right col-md-2 text-white"
    >
      <h3 class="text-white">تواصل معنا</h3>
      <div class="social text-center text-md-right py-4 px-3 p-md-0 p-lg-3">
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href=""><i class="fab fa-twitter"></i> </a>
      </div>
    </div>
  </div>
  <div class="row p-0 border-0">
    <div class="col-6 text-center m-auto">
      <p class="text-white py-1 m-0">
        التأمين الصحي الشامل 2020 جميع الحقوق محفوظة
      </p>
    </div>
  </div>
</div>
