/* You can add global styles to this file, and also import other style files */

@import "./app/shared/style/colors.scss";

@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/din-next-lt-w23-regular.ttf);
}
* {
  font-family: myFirstFont;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ico {
  font-family: icomoon, icomoon;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
p,
span {
  color: $mainColor;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}
a:hover {
  text-decoration: none;
}
.spec-btn {
  border-radius: 24px;
  background-color: $mainColor;
  border: none;
  color: #ffffff;
}
.spacing {
  padding: 20px 0;
  @media (min-width: 769px) {
    padding: 50px 0;
  }
}
.slider {
  .owl-carousel {
    z-index: 0;
  }
}
.after {
  position: relative;
  &::after {
    content: "";
    height: 5px;
    width: 50px;
    top: 30px;
    position: absolute;
    border-radius: 2px;
    background-image: $borderColor;
    right: 43.5%;
    left: 43.5%;
    @media (min-width: 768px) {
      top: 40px;
      right: 26%;
      left: auto;
    }
  }
}
