<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <a class="navbar-brand" href="#"
    ><img src="./../../../assets/Group 145.jpg" alt=""
  /></a>

  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav text-right text-md-left ml-auto mt-2 p-0 mt-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link d-flex justify-content-between align-items-center"
          href="#"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p class="m-0 px-1">عن الهيئة</p>
          <span
            ><img
              class="d-none d-md-flex"
              src="../../../assets/icons/Icon ionic-ios-arrow-down.jpg"
              alt=""
            />
          </span>
        </a>
        <div class="dropdown-menu text-right" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">من نحن؟</a>
          <a class="dropdown-item" href="#">رؤية</a>
          <a class="dropdown-item" href="#">خدمات</a>
          <a class="dropdown-item" href="#">إستراتيجية</a>
          <a class="dropdown-item" href="#">الأهداف</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link d-flex justify-content-between align-items-center"
          href="#"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p class="m-0 px-1">المركز الاعلامي</p>
          <span
            ><img
              class="d-none d-md-flex"
              src="../../../assets/icons/Icon ionic-ios-arrow-down.jpg"
              alt=""
            />
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">المستشفيات</a>
      </li>
    </ul>
  </div>
</nav>
